{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Cards</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
  body{
    background-image: url("http://www.freepngimg.com/download/flowers_borders/8-2-flowers-borders-transparent.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  </style>
