{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
      body
      {
        background-image: url("static/img/welcome2.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      h1{
        padding-left: 350pt;
        padding-top: 220pt;
        font-family: sans-serif;
        color: red;
      }
    </style>
  </head>
  <body>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="btn btn-danger" href="{% url 'cards' %}" role="button"><h3>WISHES</h3></a>
      </li>
    </ul>
    <h1>DEAR MOM</h1>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
<!--<img src="/open-iconic/svg/home.svg">
<svg viewBox="0 0 8 8"><use xlink:href="#home"></use></svg>
<span class="oi" data-glyph="home"></span>
<span class="oi oi-home"></span>
<span class="fi-home"></span>
<button type="button" class="btn btn-warning">Warning</button>-->
